.navbar-item {
  width: 10%;
  position: relative;
  text-align: center;
}

.object {
  width: 100%;
}

.planet {
  color: rgb(20, 20, 20);
  width: 100%;
  visibility: hidden;
}

.planet-name {
  
  width: 100%;
  visibility: hidden;
  animation: planetName 1s ease-out;
  animation-fill-mode: forwards;
}

@keyframes planetName {
  0% {
    transform: translateY(-80px);
    color: rgba(240, 248, 255, 0);
  }

  100% {
    transform: translateY(-140px);
    visibility: visible;
    color: var(--text-color);
  }
  
}