.card-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    
.cards {
    width: 40vw;
    height: auto;
    background-color: rgba(54, 54, 54, 0.185);
    border-radius: 8px;
    margin: 0.5em;
    position: absolute;
    left:0;
    top:40px;
    z-index: 1;
}

.container-title {
    display: flex;
    flex-direction: column;
    margin: 0 5px 0 5px;
}

.title {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    padding-top: 5%;
}

.description {
    font-size: 1em;
}

.planet-image {
    width: 100%;
    height: auto;
}

.planet-image > img {
    width: 80%;
    object-fit: cover;
    padding-left: 5em;
    
}

.bot-card {
    display: flex;
    flex-direction: column;
}

h5 {
    text-align: center;
    margin-top: 0.5em;
}

.presentation {
    width: 100%;
    font-size: 0.7em;
    padding: 1em 1em 0 1em;
    letter-spacing: 0.5px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma;
}

.moon-container {
    width: 100%;
    min-height: 2.5em;
    justify-content: center;
    text-align: center;
    padding: 3%;
}

.moons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1em;
}

.moons > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.moon-title>h2 {
    font-size: 1em;
}
