.navbar {
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 5em;
  background-color: transparent;
  user-select: none;
}

#belt {
  filter: invert(75%);
}
