.container-Cards {
    width: 50vw;
    display: flex;
    flex-direction: column;
    
}
.coons {
    display: flex;
    justify-content: space-around;
}
.image-container {
    width: 5em;
}
.planet-image {
    width: 100%;
    object-fit: cover;
}