.cards {
    width: 20%;
    min-height: 15rem;
    background-color: rgba(54, 54, 54, 0.555) ;
    border-radius: 8px;
    margin: 0.5em;
}

.container-title {
    display: flex;
    flex-direction: column;
    margin: 0 5px 0 5px;
}

.title {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    padding-bottom: 5%;
    padding-top: 5%;
}

.description {
    font-size: 0.5em;
    padding-bottom: 10%;
}

.planet-image {
    width: 100%;
}

.planet-image>img {
    width: 100%;
    object-fit: cover;
}

.presentation {
    width:100%;
    font-size: 0.4em;
    padding: 5% 0;
    margin: 0 5px 0 5px;
}

.moon-container{
    display: flex;
    margin: 5%;
}

.moons {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.moon-title>h2 {
    font-size: 0.6em;
}

.moons-desc {
    font-size: 0.4em;
}

.facts {
    width: 50%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.facts-title>h2 {
    font-size: 0.6em;
}

.facts-description {
    font-size: 0.4em;
}


