button {
    border: none;
    background-color: white;
}
.Exit {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .Exit:hover {
    opacity: 1;
  }
  .Exit:before, .Exit:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .Exit:before {
    transform: rotate(45deg);
  }
  .Exit:after {
    transform: rotate(-45deg);
  }
 